<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monebac.wkykpaymoudle">

    <application>
        <activity android:name=".ui.BankCardListActivity" />
        <activity android:name=".ui.PayRecordListActivity" />
        <activity android:name=".ui.YKchannelActivity" />
    </application>
</manifest>